<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Orion | Staff</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/layout.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>

  <%- include('components/header-search') %>
  <%- include('components/staff-nav') %>
  <%- include('components/greeting') %>
    <div id="inner-content">
      <% if (base == `/staff` && path == `/${cookies.id}` || base == `/staff` && path == `/${cookies.id}/`){%>
        <% console.log('this is the path main - ',path);%>
        <%-include('components/staff-home')%>
      <%}else if (path == `/${cookies.id}/students`){%>
        <% console.log('this is the students list - ',path);%>
        <%-include('components/students-list')%>
      <%}else if (path == `/${cookies.id}/todos`){%>
        <% console.log('this is the path todos- ',path);%>
        <%-include('components/todo-list')%>
      <%}else if (path == `/${cookies.id}/todos/add`){%>
            <% console.log('this is the path add- ',path);%>
            <%-include('components/todos-add')%>
      <%}else if (path == `/${cookies.id}/todos/assign/${todo[0].id}`){%>
            <% console.log('this is the path add- ',path);%>
            <%-include('components/todo-assign')%>
      <%}else if (base == '/search'){%>
              <% console.log('this is the base =',base, 'and path =',path);%>
              <%-include('components/student-profile')%>
      <%}else {%>
              <% console.log('this is the path edit - ',path);%>
              <%-include('components/todos-edit')%>
      <%}%>


    </div>
  <%- include('components/footer') %>
  <script src="/nav-hide.js" charset="utf-8"></script>
</body>

</html>
