<a href="/staff/<%=cookies.id%>/todos/add">Add To Do</a>
<table class="table table-striped table-hover ">

<thead>
<tr>
  <th>Name</th>
  <th>Description</th>
  <th></th>
</tr>
</thead>
<tbody>
<% console.log('in todo-list ejs, action=', action); %>
<% for (var i = 0; i< todo.length; i++) { %>
  <% var {id, name, description, status} = todo[i]%>
<tr>
  <td><%= name %></td>
  <td><%= description %></td>
  <td>
  <a href="/staff/<%=cookies.id%>/todos/assign/<%= id %>"><button style="display: inline-block">Assign</button></a>
  <a href="/staff/<%=cookies.id%>/todos/edit/<%= id %>"><button style="display: inline-block">Edit</button></a> <form action="/todos/delete/<%= id %>" method="post" style="display: inline-block"><button>Delete</button></form></td>
</tr>
<% } %>
</tbody>
</table>
